services:
  telegram-bot:
    build: .
    container_name: telegram-bot
    restart: always
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - TZ=America/Mexico_City
    command: ["node", "main.js"]
